/* Source variables for main stylesheet */
/* Source variables for main stylesheet */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@font-face {
  font-family: "FestivoLCSketch2";
  src: url("/public/fonts/FestivoLCSketch2.woff2") format("woff2"), url("/public/fonts/FestivoLCSketch2.woff") format("woff");
}
@font-face {
  font-family: "FestivoLCWood";
  src: url("/public/fonts/FestivoLCWood.woff2") format("woff2"), url("/public/fonts/FestivoLCWood.woff") format("woff");
}
* {
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background: #F7F6F3 url("../images/paper-texture.jpg") center center;
  background-size: 200px;
  background-attachment: fixed;
}

body {
  font-family: "Barlow", sans-serif;
  font-variation-settings: "wght" 300;
  font-size: 0.95em;
  color: #4a4841;
  height: 100vh;
  width: 100vw;
}

header {
  width: 100vw;
  height: 0;
  min-height: 65px;
  display: flex;
  justify-content: flex-end;
}

h1 {
  font-family: "FestivoLCWood", cursive;
  text-shadow: 0 0 3px rgba(106, 106, 105, 0.3);
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
  color: #6A6A69;
}

p {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.view-project-heading {
  width: 40%;
}

#dimmer {
  width: 100vw;
  height: 500vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s;
}

.header-border {
  border: 1px solid transparent;
  border-image-source: url("../images/grey-ui-line-horiz.png");
  border-image-repeat: round;
  border-image-slice: 20;
  width: 120%;
  position: fixed;
  left: -24px;
  top: 50px;
}

.grunge-div {
  width: 100%;
  height: 100%;
  background: transparent url("../images/grunge-overlay-1.png") center center;
  background-size: cover;
  background-attachment: fixed;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;
}

main {
  margin-left: 25px;
  max-width: 1600px;
}

#loadingTitle {
  position: absolute;
  top: 50%;
  margin-top: -45px;
}

/********************/
/* Draw Scroll Intro Animation */
.draw-jacket {
  position: relative;
  height: 100vw;
  width: 100%;
}
.draw-jacket #ScrollPrompt {
  top: 25% !important;
}
.draw-jacket #ScrollPrompt p {
  padding-top: 15px !important;
}

#ScrollIntroAnim {
  position: fixed;
  position: fixed;
  bottom: -294px;
  right: -98px;
  width: 960px;
}

section.about-copy {
  width: 60%;
}
section.about-copy a {
  color: #6b6347;
  text-decoration: underline;
}

h1.drawn-billboard {
  font-family: "FestivoLCSketch2", sans-serif;
  mix-blend-mode: color-dodge;
  color: #6A6A69;
  font-size: 20rem;
  line-height: 20rem;
  position: fixed;
  z-index: 8;
  bottom: -80px;
  left: 10px;
  margin: 0;
  padding: 0;
}

.title-compartment {
  background-color: #000;
  position: fixed;
  z-index: 7;
  bottom: 0;
  left: 16px;
  width: max-content;
}

.drawn-title {
  position: fixed;
  min-width: 300px;
  top: 4px;
  left: 24px;
  display: flex;
  align-items: left;
}

.drawn-title, .title-type {
  font-family: "Barlow", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
}

.title-type {
  margin: 0;
  padding: 0;
}

.title-container {
  position: relative;
  display: block;
  flex-grow: 1;
  overflow: hidden;
  margin-left: 4px;
  height: 1.35rem;
}

.title-type {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  width: 100%;
  text-align: left;
  height: 1.35rem;
  line-height: 1.35rem;
  opacity: 0;
}

.name-text {
  display: block;
  position: absolute;
  width: max-content;
  left: 122px;
}

.coding-desk {
  position: fixed;
  width: 40%;
  height: 48%;
  bottom: -10%;
  right: -10%;
  opacity: 0.9;
}

.view-selected-circle {
  position: fixed;
  bottom: -1%;
  right: -1%;
  width: 190px;
  z-index: 6;
}

.view-selected-cta {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 12px;
  z-index: 6;
  background-color: #E57607;
  color: #FFFFFF;
  font-family: "Barlow", sans-serif;
  font-size: 2rem;
  text-align: right;
  animation: backgroundChangeColor 12s;
  animation-iteration-count: infinite;
}

@keyframes backgroundChangeColor {
  0% {
    background-color: #E57607;
  }
  25% {
    background-color: #eb4034;
  }
  50% {
    background-color: #9b6ca8;
  }
  75% {
    background-color: #5b9bb3;
  }
}
aside#menu-aside {
  background: transparent url("../images/menu-paper-background.png") no-repeat top left;
  background-size: cover;
  filter: drop-shadow(-3px 3px 5px #2b2b2b);
  width: 18.75rem;
  height: 472px;
  position: fixed;
  z-index: 11;
  right: 0;
}

.nav-container {
  margin: 4.5rem 1.4rem;
}
.nav-container .nav-item {
  margin: 0 0 30px 0;
  font-size: 3rem;
}

#b-one, #b-two, #b-three { /* Hamburger Menu Lines */
  fill: none;
  stroke: #6A6A69;
  stroke-miterlimit: 10;
  stroke-width: 3px;
  visibility: hidden;
}

.btn-container {
  position: fixed;
  cursor: pointer;
  background: transparent url("../images/grunge-overlay-small.png") center center;
  background-attachment: fixed;
  width: 60px;
  height: 35px;
  top: 15px;
  right: 20px;
  z-index: 14;
}

#button-lines {
  position: fixed;
  top: 15px;
  right: 25px;
  z-index: 13;
}

.nav-item {
  color: #4a4841;
  font-family: "FestivoLCSketch2", cursive;
  text-shadow: 0 0 3px rgba(106, 106, 105, 0.3);
  text-decoration: none;
  font-weight: normal;
  display: block;
  width: max-content;
}

nav.main-nav a {
  color: #4a4841;
  font-size: 1.1rem;
  display: block;
  text-decoration: none;
  margin: 8px 0 8px 8px;
}

/* Projects Scroll for More */
#ScrollPrompt {
  position: absolute;
  bottom: 400px;
  left: 50%;
  margin-left: -45px;
  text-align: center;
  width: 90px;
  height: 90px;
  border-radius: 90px;
  z-index: 9;
  background-color: #E57607;
}
#ScrollPrompt p {
  color: #FFF;
  font-size: 0.9rem;
  line-height: 1rem;
  font-weight: 500;
  padding-top: 10px;
}

.scroll-prompt-fade {
  opacity: 0;
  animation: fadePrompt 0.9s ease-out;
}

@keyframes fadePrompt {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* Projects Nav */
.projects-nav {
  position: fixed;
  bottom: 16px;
  margin-top: 0;
}
.projects-nav h1 {
  font-size: 3.2rem;
  margin: 60px 0 10px 0;
}
.projects-nav ul {
  display: inline;
}
.projects-nav ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0 12px 0 0;
  padding: 0;
}
.projects-nav ul li .nav-item {
  margin: 0 20px 0 0;
  font-size: 1.95rem;
}
.projects-nav ul a {
  margin-left: 0;
}

/* Project display panels */
#AnimationSplash { /* A static, in-place panel to mock the animation in the projects gallery before the scroller is active */
  width: 500vw;
  height: 450px;
  opacity: 0.7;
  position: fixed;
  display: flex;
  bottom: 0;
  gap: 2.5rem;
  z-index: 6;
}
#AnimationSplash .anim-splash {
  position: relative;
  height: 288px;
  width: 428px;
  overflow: hidden;
}
#AnimationSplash .anim-splash svg {
  position: absolute;
}
#AnimationSplash .anim-splash #portfolio-svg {
  top: -10px;
  left: -178.5%;
  width: 392.5%;
  height: 113%;
}
#AnimationSplash .anim-splash #portfolio-svg .drawn-lines {
  stroke-width: 1.5px;
}
#AnimationSplash .anim-splash #icc-svg {
  top: -8px;
  left: -60px;
  width: 124.7%;
}
#AnimationSplash .anim-splash #icc-svg .icc-lines {
  stroke-width: 0.5px;
}
#AnimationSplash .anim-splash #ppp-svg {
  top: 6px;
  left: -73px;
  width: 129.5%;
}
#AnimationSplash .anim-splash #ppp-svg .ppp-lines {
  stroke-width: 0.6px;
}
#AnimationSplash .anim-splash #chipotle-svg {
  top: 42px;
  left: 3px;
  width: 67%;
}
#AnimationSplash .anim-splash #chipotle-svg .chipotle-lines {
  stroke-width: 0.6px;
}

.drawn-lines, .icc-lines, .ppp-lines, .chipotle-lines {
  stroke: #484848;
  fill: none;
}

.panel-outer-layout {
  position: relative;
  height: 500vh;
  /* Height of this element is set in ProjectsPanelComponent.js to delay and produce slower horizontal scroll */
}

.panel-container {
  display: flex;
  overflow: hidden;
  top: 0;
  align-items: center;
  height: 100vh;
}

.panel-inner-container {
  position: fixed;
  bottom: 0;
  display: flex;
  gap: 1rem;
}

.panel {
  overflow: hidden;
  position: relative;
  height: 450px;
  width: 450px;
}

.panel-image, .panel-image-lines {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  height: 66%;
  width: 96%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.panel-info {
  display: grid;
  position: absolute;
  right: 0;
  bottom: 80px;
  left: 0;
  z-index: 10;
  place-content: left;
}

.panel-info-subtitle {
  font-weight: 400;
  color: #6A6A69;
}

.panel-info-title {
  padding: 1rem 1rem 1rem 0;
  font-size: 1.2rem;
  line-height: 1;
  font-weight: 500;
  color: #4a4841;
}

.panel-project-link {
  display: block;
  font-size: 0.9rem;
}

.panels-bottom {
  height: 1px;
}

.panel-image, .panel-image-lines {
  cursor: pointer;
  border: 4px solid #4a4841;
  border-image-source: url("../images/horiz-line-400.svg");
  border-image-slice: 10;
  border-image-width: 8px;
  border-image-repeat: 1px stretch;
  transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
}

.panel-image {
  opacity: 0;
}

.fade-in-lines {
  opacity: 0;
}

.opacity-restore {
  opacity: 1;
}

/* Drawn (portfolio project) */
.project_1 .panel-image-lines {
  background-size: 36%;
  background-position: -8px 40%;
}

/* ICC */
.project_2 .panel-image-lines {
  background-size: 132%;
  background-position: 54% 45%;
}

/* Preferred Provider */
.project_3 .panel-image-lines {
  background-size: 135%;
  background-position: 55% 8%;
}

/* Chipotle */
.project_4 .panel-image-lines {
  background-size: 70%;
  background-position: -0.5px 113.3%;
}

/* National Louis University */
.project_5 .panel-image-lines {
  background-size: 71%;
  background-position: 58px -11px;
}

/* Digital Codes mobile app */
.project_6 .panel-image-lines {
  background-size: 102%;
  background-position: -31px 62%;
}

/* IAS */
.project_7 .panel-image-lines {
  background-size: 85%;
  background-position: 94% -16px;
}

/* ANCR */
.project_8 .panel-image-lines {
  background-size: 147%;
  background-position: 41% 5px;
}

/* Mearra */
.project_9 .panel-image-lines {
  background-size: 115%;
  background-position: -22% 33px;
}

/* NLU Eagles Logo */
.project_10 .panel-image-lines {
  background-size: 100%;
  background-position: 0 6px;
}

.project_1 .panel-image-lines:hover {
  opacity: 0;
}

.project_2 .panel-image-lines:hover {
  opacity: 0;
}

.project_3 .panel-image-lines:hover {
  opacity: 0;
}

.project_4 .panel-image-lines:hover {
  opacity: 0;
}

.project_5 .panel-image-lines:hover {
  opacity: 0;
}

.project_6 .panel-image-lines:hover {
  opacity: 0;
}

.project_7 .panel-image-lines:hover {
  opacity: 0;
}

.project_8 .panel-image-lines:hover {
  opacity: 0;
}

.project_9 .panel-image-lines:hover {
  opacity: 0;
}

.project_10 .panel-image-lines:hover {
  opacity: 0;
}

.project_1 .panel-image-lines:hover + .panel-image {
  opacity: 1;
}

.project_2 .panel-image-lines:hover + .panel-image {
  opacity: 1;
}

.project_3 .panel-image-lines:hover + .panel-image {
  opacity: 1;
}

.project_4 .panel-image-lines:hover + .panel-image {
  opacity: 1;
}

.project_5 .panel-image-lines:hover + .panel-image {
  opacity: 1;
}

.project_6 .panel-image-lines:hover + .panel-image {
  opacity: 1;
}

.project_7 .panel-image-lines:hover + .panel-image {
  opacity: 1;
}

.project_8 .panel-image-lines:hover + .panel-image {
  opacity: 1;
}

.project_9 .panel-image-lines:hover + .panel-image {
  opacity: 1;
}

.project_10 .panel-image-lines:hover + .panel-image {
  opacity: 1;
}

/* Project Modal */
aside#modal-aside {
  background: transparent url("../images/project-paper-background.png") no-repeat 0 105px;
  background-size: cover;
  filter: drop-shadow(-2px 2px 4px #2b2b2b);
  width: 90%;
  height: 100%;
  max-height: 100vh;
  position: fixed;
  bottom: 0;
  z-index: 10;
  left: 50%;
  margin-left: -45%;
}

aside#modal-aside .close-spacer {
  cursor: pointer;
  background-color: transparent;
  width: 100%;
  height: 105px;
}

aside#modal-aside .project-details {
  padding: 24px;
  text-align: center;
  overflow: auto;
  height: 100%;
  max-height: 100vh;
  position: relative;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
aside#modal-aside .project-details .project-box {
  display: none;
}
aside#modal-aside .project-details .display {
  display: block;
}

aside#modal-aside .project-details::-webkit-scrollbar {
  display: none;
}

aside#modal-aside #project-1 {
  animation: projectDetails 0.9s ease-in;
}

aside#modal-aside #project-2 {
  animation: projectDetails 0.9s ease-in;
}

aside#modal-aside #project-3 {
  animation: projectDetails 0.9s ease-in;
}

aside#modal-aside #project-4 {
  animation: projectDetails 0.9s ease-in;
}

aside#modal-aside #project-5 {
  animation: projectDetails 0.9s ease-in;
}

aside#modal-aside #project-6 {
  animation: projectDetails 0.9s ease-in;
}

aside#modal-aside #project-7 {
  animation: projectDetails 0.9s ease-in;
}

aside#modal-aside #project-8 {
  animation: projectDetails 0.9s ease-in;
}

aside#modal-aside #project-9 {
  animation: projectDetails 0.9s ease-in;
}

aside#modal-aside #project-10 {
  animation: projectDetails 0.9s ease-in;
}

@keyframes projectDetails {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#project-modal-close {
  cursor: pointer;
  position: fixed;
  background: transparent url("../images/project-close.png") no-repeat left top;
  background-size: 100%;
  border: none;
  font-size: 40px;
  width: 50px;
  height: 75px;
  top: 100px;
  right: 15px;
}

h1.project-page-heading {
  display: block;
  text-align: left;
  margin: 0.5rem 0 0.5rem 0;
  font-family: "FestivoLCSketch2", sans-serif;
  font-size: 4rem;
}

/* Individual Project Components */
.details-container {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
}
.details-container .details-images {
  width: 60%;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}
.details-container .details-images img {
  width: 100%;
}
.details-container .details-copy {
  width: 40%;
  text-align: left;
  display: block;
  position: sticky;
  top: 0;
}
.details-container .details-copy p {
  font-size: 1rem;
  line-height: 1.45rem;
}
.details-container .details-copy .fixed-copy {
  position: fixed;
  pointer-events: none;
  width: 36%;
  top: 175px;
}
.details-container .details-copy .accordion h3 {
  margin-bottom: 0.3rem;
}
.details-container .details-copy .accordion p {
  margin: 0;
}
.details-container .details-copy .view-url {
  position: fixed;
  bottom: 80px;
  left: 24px;
  display: block;
  margin-top: 1.2rem;
  font-family: "FestivoLCWood", sans-serif;
  font-size: 2.1rem;
  line-height: 1.5rem;
  text-align: center;
  color: #4a4841;
  text-decoration: none;
}
.details-container .initial {
  display: block !important;
}

#projectDetailNav {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  z-index: 30;
}
#projectDetailNav .project-nav {
  position: absolute;
  cursor: pointer;
  background-size: 100%;
  height: 60px;
  border: none;
  font-family: "FestivoLCWood", sans-serif;
  font-size: 2.5rem;
}
#projectDetailNav .previous {
  background: transparent url("../images/tape-background-300.png") no-repeat 0 0;
  width: 80px;
  left: -6px;
  filter: drop-shadow(1px 1px 1px #9B9A98);
  color: #FFF;
}
#projectDetailNav .next {
  background: transparent url("../images/tape-background-300.png") no-repeat 0 0;
  width: 80px;
  right: -10px;
  color: #4a4841;
  filter: drop-shadow(-1px -1px 1px #9B9A98);
}

/**********************/
/* Homepage Animation */
#AnimContainer-Table2 {
  position: fixed;
  bottom: -330px;
  right: -110px;
  z-index: 2;
  width: 1100px;
}

#AnimContainer-Table4, #AnimContainer-Table5 {
  position: fixed;
  bottom: -294px;
  right: -98px;
  width: 960px;
}

#AnimContainer-Table4 {
  z-index: 4;
}

#AnimContainer-Table5 {
  z-index: 5;
  animation: delayAppearance 11.6s linear;
}

@keyframes delayAppearance {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.entrance-bg {
  position: fixed;
  bottom: 2px;
  right: 56px;
  z-index: 3;
  width: 565px;
}

.table-bg {
  position: fixed;
  bottom: 2px;
  right: 56px;
  z-index: 1;
  width: 565px;
}

.typing-blended {
  mix-blend-mode: multiply;
}

/* Homepage Code Phrases */
.montage-text {
  position: absolute;
}

.wrap-1 {
  bottom: 50px;
  right: 50px;
}

.wrap-2 {
  bottom: 60px;
  right: 100px;
}

.wrap-3 {
  bottom: 100px;
  right: 20px;
}

.wrap-4 {
  bottom: 80px;
  right: 60px;
}

.wrap-5 {
  bottom: 20px;
  right: 10px;
}

.text-container-1, .text-container-2, .text-container-3, .text-container-4,
.text-container-5 {
  padding: 3px;
  margin: 0;
  position: relative;
  opacity: 0;
}

.line-1 {
  font-size: 240%;
  padding: 6px 0 10px 0 !important;
}

.line-2 {
  font-size: 190%;
}

.line-3 {
  font-size: 180%;
}

.line-4 {
  font-size: 180%;
}

.line-5 {
  font-size: 340%;
  padding: 8px 0 16px 0 !important;
}

.type-box {
  position: relative;
  margin: 0 auto;
  padding: 4px 0;
  border-right: 2px solid #ADA185;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transform: translateY(30%);
  transform: translateY(30%);
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* Typing Animation */
.anim-typewriter {
  width: 0;
  /* color: #BFB59C; */
  color: #ADA185;
  font-family: "Anonymous Pro", monospace;
}

/* Project Detail Parallax Images */
.details-images {
  height: 400vh;
  position: relative;
}

.proj-image {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.proj-image.one {
  top: 80px;
  left: 0;
}

.proj-image.two {
  top: 500px;
  left: 20%;
  filter: drop-shadow(2px -9px 26px rgba(5, 5, 5, 0.45));
}

.proj-image.three {
  top: 1000px;
  left: 10%;
  filter: drop-shadow(2px -9px 26px rgba(5, 5, 5, 0.45));
}

.proj-image.four {
  top: 1200px;
  left: 0;
}

/* ------------------------------------------------------ */
/* ------------ Media Queries --------------------------- */
/* ------------------------------------------------------ */
@media (min-width: 700px) and (max-width: 999px) {
  h1 {
    font-size: 3.5rem;
  }
  .coding-desk {
    bottom: -110px;
    height: 54%;
    width: 55%;
  }
  section.about-copy {
    width: 80%;
  }
}
@media (max-width: 999px) {
  body {
    background-attachment: scroll !important;
  }
  aside#modal-aside {
    background: none;
    filter: drop-shadow(-1px 1px 2px #2b2b2b);
    width: 94%;
    margin-left: -47%;
  }
  aside#modal-aside .close-spacer {
    height: 120px;
  }
  aside#modal-aside .project-details {
    padding: 0;
  }
  #project-modal-close {
    font-size: 28px;
    top: 66px;
    right: 5px;
    z-index: 31;
  }
  h1.project-page-heading {
    margin: 0.5rem 0 0.5rem 0;
    font-size: 2.8rem;
  }
  .details-container {
    width: 100%;
    display: block;
    padding-right: 0;
  }
  .details-container .details-images {
    background: transparent url("../images/project-paper-background.png") repeat 0 0;
    background-attachment: fixed;
    width: 100%;
    position: absolute;
    top: 40%;
    z-index: 10;
    padding-top: 90%;
    pointer-events: none;
  }
  .details-container .details-images img {
    width: 90%;
  }
  .details-container .details-copy {
    width: 100%;
    z-index: 12;
    display: block;
  }
  .details-container .details-copy p {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
  .details-container .details-copy .fixed-copy {
    background: transparent url("../images/project-paper-background.png") no-repeat 0 0;
    top: 70px;
    min-height: 48%;
    padding: 48px 12px 12px 12px;
    width: 100%;
  }
  .details-container .details-copy .accordion h3 {
    margin-bottom: 0.2rem;
  }
  .details-container .details-copy .view-url {
    bottom: 41%;
    right: -230px;
    margin-top: none;
    font-size: 1.6rem;
  }
}
@media (max-width: 699px) {
  h1 {
    font-size: 2.1rem;
  }
  p {
    font-size: 1.1rem;
    line-height: 1.4rem;
  }
  .drawn-title, .title-type {
    font-size: 0.9rem;
  }
  .drawn-title {
    left: 16px;
    top: 10px;
  }
  .title-type {
    height: 1.15rem;
    line-height: 1.15rem;
  }
  .name-text {
    left: 102px;
  }
  section.about-copy {
    width: 90%;
  }
  .coding-desk {
    bottom: -190px;
    height: 58%;
    width: 60%;
  }
}

/*# sourceMappingURL=main.css.map */
