/* Source variables for main stylesheet */
/* Source variables for main stylesheet */
@font-face {
  font-family: "JEFFS_DRAWING_BOARD";
  src: url("../fonts/AllOverAgainAllCaps-9GPB.ttf");
}
* {
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  background: #F7F6F3 url("../images/ivory-off-white-paper-texture.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  font-family: "semplicitapro", sans-serif;
  font-variation-settings: "wght" 600;
  font-size: 0.95em;
  color: #4a4841;
  height: 100vh;
  width: 100vw;
}

#dimmer {
  width: 100vw;
  height: 500vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s;
}

.grunge-div {
  width: 100%;
  height: 100%;
  background: transparent url("../images/grunge-overlay-1.png") center center;
  background-size: cover;
  background-attachment: fixed;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;
}

header {
  width: 100vw;
  height: 0;
  display: flex;
  justify-content: flex-end;
}

h1 {
  font-family: "JEFFS_DRAWING_BOARD", cursive;
  text-shadow: 0 0 3px rgba(106, 106, 105, 0.3);
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  color: #6A6A69;
}

.view-project-heading {
  width: 40%;
}

p {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.main {
  margin-left: 25px;
}

section.about-copy {
  width: 60%;
}

.drawn-title {
  position: fixed;
  top: 0;
  min-width: 35%;
  opacity: 0.9;
  margin-left: -24px;
}

.coding-desk {
  position: fixed;
  width: 40%;
  height: 48%;
  bottom: -10%;
  right: -10%;
  opacity: 0.9;
}

aside#menu-aside {
  background: transparent url("../images/menu-paper-background.png") no-repeat top left;
  background-size: cover;
  filter: drop-shadow(-3px 3px 5px #2b2b2b);
  width: 18.75rem;
  height: 472px;
  position: fixed;
  z-index: 11;
  right: 0;
}

.nav-container {
  margin: 4.5rem 1.4rem;
}
.nav-container .nav-item {
  margin: 0 0 30px 0;
  font-size: 1.15rem;
}

#b-one, #b-two, #b-three {
  fill: none;
  stroke: #6A6A69;
  stroke-miterlimit: 10;
  stroke-width: 3px;
  visibility: hidden;
}

.btn-container {
  position: fixed;
  cursor: pointer;
  background: transparent url("../images/grunge-overlay-small.png") center center;
  background-attachment: fixed;
  width: 60px;
  height: 35px;
  top: 35px;
  right: 20px;
  z-index: 14;
}

#button-lines {
  position: fixed;
  top: 35px;
  right: 25px;
  z-index: 13;
}

.button-background {
  position: fixed;
  background: transparent url("../images/button-scrap-background.png") no-repeat center center;
  background-size: 70%;
  top: 16px;
  right: -4px;
  width: 110px;
  height: 65px;
  z-index: 12;
  filter: drop-shadow(3px 3px 4px #646259);
}

.nav-item {
  color: #4a4841;
  font-family: "JEFFS_DRAWING_BOARD", cursive;
  text-shadow: 0 0 3px rgba(106, 106, 105, 0.3);
  text-decoration: none;
  font-weight: bold;
  display: block;
  width: max-content;
}

nav.main-nav a {
  color: #4a4841;
  font-size: 1.1rem;
  display: block;
  text-decoration: none;
  margin: 8px 0 8px 8px;
}

/* Projects Nav */
.projects-nav {
  position: fixed;
  bottom: 16px;
  margin-top: 0;
}
.projects-nav h1 {
  font-size: 3.2rem;
  margin: 60px 0 10px 0;
}
.projects-nav ul {
  display: inline;
}
.projects-nav ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0 12px 0 0;
  padding: 0;
}
.projects-nav ul li .nav-item {
  margin: 0 20px 0 0;
  font-size: 1.95rem;
}
.projects-nav ul a {
  margin-left: 0;
}

/* Project Gallery carousel (draggable) */
/* Move the following items to a separate project */
.project-carousel {
  cursor: grab;
  overflow: hidden;
  min-height: 22rem;
  width: 60%;
  border-top: 1px solid #4a4841;
  border-bottom: 1px solid #4a4841;
}

.inner-carousel {
  display: flex;
}

.item {
  min-height: 20rem;
  min-width: 13rem;
  padding: 16px;
}
.item img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  pointer-events: none;
}

/* END Move the following items to a separate project */
/* Project display panels */
.panel-outer-layout {
  position: relative;
  height: 500vh;
}

.panel-container {
  display: flex;
  overflow: hidden;
  top: 0;
  align-items: center;
  height: 100vh;
}

.panel-inner-container {
  position: fixed;
  bottom: 0;
  display: flex;
  gap: 1rem;
}

.panel {
  overflow: hidden;
  position: relative;
  height: 450px;
  width: 450px;
}

.panel-image, .panel-image-lines {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  height: 66%;
  width: 96%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.panel-anim {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.icc-lines {
  stroke: #e00e1e;
  stroke-width: 2px;
  fill: none;
}

.panel-info {
  display: grid;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  place-content: left;
}

.panel-info-subtitle {
  font-weight: 400;
  color: #6A6A69;
}

.panel-info-title {
  padding: 1rem 1rem 1rem 0;
  font-size: 1.2rem;
  line-height: 1;
  font-weight: 900;
  color: #4a4841;
}

.panel-project-link {
  display: block;
  font-size: 0.9rem;
}

.panels-bottom {
  height: 1px;
}

.panel-image, .panel-image-lines {
  cursor: pointer;
  border: 12px solid #4a4841;
  border-image: url("../images/horiz-line-400.svg") 10/8px/1px stretch;
  transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
}

.panel-image-lines {
  opacity: 1;
}

.panel-image {
  opacity: 0;
}

.project_1 .panel-image-lines {
  background-size: 132%;
  background-position: 54% 45%;
}

.project_2 .panel-image-lines {
  background-size: 135%;
  background-position: 55% 8%;
}

.project_3 .panel-image-lines {
  background-size: 71%;
  background-position: 58px -11px;
}

.project_4 .panel-image-lines {
  background-size: 70%;
  background-position: 0 112%;
}

.project_5 .panel-image-lines {
  background-size: 102%;
  background-position: -31px 62%;
}

.project_6 .panel-image-lines {
  background-size: 85%;
  background-position: 94% -16px;
}

.project_7 .panel-image-lines {
  background-size: 147%;
  background-position: 41% 5px;
}

.project_8 .panel-image-lines {
  background-size: 115%;
  background-position: -22% 33px;
}

.project_1 .panel-image-lines:hover {
  opacity: 0;
}

.project_1 .panel-image-lines:hover + .panel-image {
  opacity: 1;
}

.project_2 .panel-image-lines:hover {
  opacity: 0;
}

.project_2 .panel-image-lines:hover + .panel-image {
  opacity: 1;
}

.project_3 .panel-image-lines:hover {
  opacity: 0;
}

.project_3 .panel-image-lines:hover + .panel-image {
  opacity: 1;
}

.project_4 .panel-image-lines:hover {
  opacity: 0;
}

.project_4 .panel-image-lines:hover + .panel-image {
  opacity: 1;
}

.project_5 .panel-image-lines:hover {
  opacity: 0;
}

.project_5 .panel-image-lines:hover + .panel-image {
  opacity: 1;
}

.project_6 .panel-image-lines:hover {
  opacity: 0;
}

.project_6 .panel-image-lines:hover + .panel-image {
  opacity: 1;
}

.project_7 .panel-image-lines:hover {
  opacity: 0;
}

.project_7 .panel-image-lines:hover + .panel-image {
  opacity: 1;
}

.project_8 .panel-image-lines:hover {
  opacity: 0;
}

.project_8 .panel-image-lines:hover + .panel-image {
  opacity: 1;
}

/* Project Modal */
aside#modal-aside {
  background: transparent url("../images/project-paper-background.png") no-repeat 0 105px;
  background-size: cover;
  filter: drop-shadow(-2px 2px 4px #2b2b2b);
  width: 90%;
  height: 100%;
  max-height: 100vh;
  position: fixed;
  bottom: 0;
  z-index: 10;
  left: 50%;
  margin-left: -45%;
}

aside#modal-aside .close-spacer {
  cursor: pointer;
  background-color: transparent;
  width: 100%;
  height: 105px;
}

aside#modal-aside .project-details {
  padding: 24px;
  text-align: center;
  overflow: auto;
  height: 100%;
  max-height: 100vh;
  position: relative;
}

#project-modal-close {
  cursor: pointer;
  position: fixed;
  background: transparent;
  border: none;
  font-size: 40px;
  top: 160px;
  right: 20px;
}

h1.project-page-heading {
  display: block;
  text-align: left;
  margin: 0.5rem 0 0.5rem 0;
  font-family: "JEFFS_DRAWING_BOARD", sans-serif;
  font-size: 1.9rem;
}

/* Individual Project Components */
.details-container {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
}
.details-container .details-images {
  width: 60%;
  padding-top: 50px;
}
.details-container .details-images img {
  width: 100%;
}
.details-container .details-copy {
  width: 40%;
  text-align: left;
  display: block;
  position: sticky;
  top: 0;
}
.details-container .details-copy p {
  font-size: 1rem;
  line-height: 1.45rem;
}
.details-container .details-copy .fixed-copy {
  position: fixed;
  pointer-events: none;
  width: 36%;
  top: 165px;
}
.details-container .details-copy .accordion {
  overflow: hidden;
  transition: all 1s;
}
.details-container .details-copy .accordion h3 {
  opacity: 0.65;
  margin-bottom: 0.3rem;
}
.details-container .details-copy .accordion p {
  margin: 0;
}
.details-container .details-copy .accordion .region {
  display: none;
}
.details-container .details-copy .view-url {
  position: fixed;
  bottom: 60px;
  left: 24px;
  display: block;
  border: 1px solid #4a4841;
  color: #4a4841;
  padding: 4px;
  margin-top: 1.2rem;
  text-decoration: none;
}
.details-container .initial {
  display: block !important;
}

#projectDetailNav {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: #C00000;
}

/* Main Animation */
.anim-container {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 600px;
}

/* Loader */
.loader {
  border: 6px solid #f3f3f3; /* Light grey border */
  border-top: 6px solid #3498db; /* Blue border */
  border-radius: 50%;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
/* ------------------------------------------------------ */
/* ------------ Media Queries --------------------------- */
/* ------------------------------------------------------ */
@media (min-width: 1000px) {
  .drawn-title {
    min-width: 35%;
    width: 35%;
  }
}
@media (min-width: 700px) and (max-width: 999px) {
  h1 {
    font-size: 3.5rem;
  }
  .drawn-title {
    min-width: 75%;
    width: 75%;
  }
  .coding-desk {
    bottom: -110px;
    height: 54%;
    width: 55%;
  }
  section.about-copy {
    width: 80%;
  }
}
@media (max-width: 999px) {
  aside#modal-aside {
    background: none;
    filter: drop-shadow(-1px 1px 2px #2b2b2b);
    width: 94%;
    margin-left: -47%;
  }
  aside#modal-aside .close-spacer {
    height: 120px;
  }
  aside#modal-aside .project-details {
    padding: 0;
  }
  #project-modal-close {
    font-size: 28px;
    top: 120px;
    right: 5px;
    z-index: 31;
  }
  h1.project-page-heading {
    margin: 0.5rem 0 0.5rem 0;
    font-size: 1.1rem;
  }
  .details-container {
    width: 100%;
    display: block;
    padding-right: 0;
  }
  .details-container .details-images {
    background: transparent url("../images/project-paper-background.png") repeat 0 0;
    background-attachment: fixed;
    width: 100%;
    position: absolute;
    top: 40%;
    z-index: 10;
    padding-top: 0;
    pointer-events: none;
  }
  .details-container .details-images img {
    width: 90%;
  }
  .details-container .details-copy {
    width: 100%;
    z-index: 12;
    display: block;
  }
  .details-container .details-copy p {
    font-size: 0.9rem;
    line-height: 1.3rem;
  }
  .details-container .details-copy .fixed-copy {
    background: transparent url("../images/project-paper-background.png") no-repeat 0 0;
    top: 70px;
    min-height: 48%;
    padding: 48px 12px 12px 12px;
    width: 100%;
  }
  .details-container .details-copy .accordion h3 {
    margin-bottom: 0.2rem;
  }
  .details-container .details-copy .view-url {
    display: block;
    margin-top: 1.2rem;
  }
}
@media (max-width: 699px) {
  .drawn-title {
    min-width: 80%;
    width: 80%;
  }
  h1 {
    font-size: 2.1rem;
  }
  p {
    font-size: 1.1rem;
    line-height: 1.4rem;
  }
  section.about-copy {
    width: 90%;
  }
  .coding-desk {
    bottom: -190px;
    height: 58%;
    width: 60%;
  }
}

/*# sourceMappingURL=main.css.map */
