/* Source variables for main stylesheet */
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

html {
  font-size: 100%;
}

body {
  background: #F7F6F3 url("../images/ivory-off-white-paper-texture.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  font-family: "semplicitapro", sans-serif;
  font-variation-settings: "wght" 600;
  font-size: 0.95em;
  color: #4a4841;
  height: 100vh;
  width: 100vw;
}

header {
  width: 100vw;
  height: 0;
  display: flex;
  justify-content: flex-end;
}

h1 {
  font-family: "Cabin Sketch", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5.5rem;
  width: max-content;
  color: #6A6A69;
}

p {
  line-height: 1.2rem;
}

.main {
  margin-left: 25px;
}

section.about-copy {
  width: 60%;
}

.drawn-title {
  min-width: 35%;
  opacity: 0.9;
}

.coding-desk {
  position: fixed;
  width: 40%;
  height: 48%;
  bottom: -10%;
  right: -10%;
  opacity: 0.9;
}

.projects-nav ul {
  margin: 0;
  padding: 0;
}
.projects-nav ul a {
  margin-left: 0;
}

h1.feature-heading {
  font-size: 1rem;
}

aside {
  background: transparent url("../images/menu-paper-background.png") no-repeat top left;
  background-size: cover;
  filter: drop-shadow(-3px 3px 5px #2b2b2b);
  width: 18.75rem;
  height: 472px;
  position: fixed;
  z-index: 10;
  right: 0;
}

.nav-container {
  margin: 4.5rem 1.4rem;
}
.nav-container .nav-item {
  margin: 0 0 30px 0;
  font-size: 1.95rem;
}

.btn-container {
  position: fixed;
  width: 50px;
  height: 25px;
  z-index: 11;
}

.nav-item {
  color: #4a4841;
  font-family: "Nothing You Could Do", cursive;
  text-decoration: none;
  font-weight: 400;
  display: block;
  width: max-content;
}

.projects-nav {
  position: relative;
  margin-top: 0;
}
.projects-nav h1 {
  font-size: 3.2rem;
  margin: 60px 0 10px 0;
}
.projects-nav ul {
  display: inline;
}
.projects-nav ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0 12px 0 0;
}
.projects-nav ul li .nav-item {
  margin: 0 20px 0 0;
  font-size: 1.95rem;
}

button {
  cursor: pointer;
  margin: 1.25rem;
  border: none;
  padding: 0.5rem 1rem;
}

.hamburger {
  width: 35px;
  height: 35px;
  opacity: 0;
}

.b {
  fill: #4a4a4a;
  stroke-width: 1px;
}

.closed {
  background: transparent url("../images/hamburger-menu-open.svg") center center no-repeat;
}

.open {
  width: 35px;
  height: 35px;
  background: transparent url("../images/hamburger-menu-close.svg") center center no-repeat;
}

nav.main-nav a {
  color: #4a4841;
  font-size: 1.1rem;
  display: block;
  text-decoration: none;
  margin: 8px 0 8px 8px;
}

/* Gallery carousel */
.project-carousel {
  cursor: grab;
  overflow: hidden;
  min-height: 22rem;
  width: 60%;
  border-top: 1px solid #4a4841;
  border-bottom: 1px solid #4a4841;
}

.inner-carousel {
  display: flex;
}

.item {
  min-height: 20rem;
  min-width: 13rem;
  padding: 16px;
}
.item img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  pointer-events: none;
}

/* Project display panels */
.panel-outer-layout {
  position: relative;
  height: 300vh;
}

.panel-container {
  display: flex;
  overflow: hidden;
  position: sticky;
  top: 0;
  align-items: center;
  height: 100vh;
}

.panel-inner-container {
  display: flex;
  gap: 1rem;
}

.panel {
  overflow: hidden;
  position: relative;
  height: 450px;
  width: 450px;
  border-right: 1px solid #4a4841;
}

.panel-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  height: 66%;
  width: 96%;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-duration: 300ms;
}

.panel-info {
  display: grid;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  place-content: left;
}

.panel-info-subtitle {
  font-weight: 400;
  color: #6A6A69;
}

.panel-info-title {
  padding: 2rem 2rem 1rem 0;
  font-size: 1.2rem;
  line-height: 1;
  font-weight: 900;
  color: #4a4841;
}

.panels-bottom {
  height: 1px;
}

/* Main Animation */
.anim-container {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 600px;
}

/* Loader */
.loader {
  border: 6px solid #f3f3f3; /* Light grey border */
  border-top: 6px solid #3498db; /* Blue border */
  border-radius: 50%;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
/* --------------------------- */
/* ------ Media Queries ------ */
@media (min-width: 1000px) {
  .drawn-title {
    min-width: 35%;
    width: 35%;
  }
}
@media (min-width: 700px) and (max-width: 999px) {
  h1 {
    font-size: 3.5rem;
  }
  .drawn-title {
    width: 70%;
  }
  .coding-desk {
    bottom: -110px;
    height: 54%;
    width: 55%;
  }
  section.about-copy {
    width: 80%;
  }
}
@media (max-width: 699px) {
  h1 {
    font-size: 2.1rem;
  }
  section.about-copy {
    width: 90%;
  }
  .coding-desk {
    bottom: -190px;
    height: 58%;
    width: 60%;
  }
}

/*# sourceMappingURL=main.css.map */
